<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wololo.hulkify">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <uses-feature
        android:name="android.software.device_admin"
        android:required="true" />


    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/hulk"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".utils.UnlockActivity" />

        <activity android:name=".ui.music.MusicActivity" android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ui.gallery.GalleryActivity" android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".ui.game.GameActivity" />
        <activity
            android:name=".ui.bruce.HomeActivity"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme.Bruce" />
        <activity android:name=".ui.hulk.HulkHomeActivity" />
        <activity android:name=".ui.loki.LokiActivity" android:theme="@style/AppTheme.NoActionBar"/>

        <!--TODO:put your fabric api key here-->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="" />

        <service
            android:name=".utils.service.SensorService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>
